@use "variables";
/* ---------------------------- */
/* -------Header--------------- */
/* ---------------------------- */


.main-header {
    .logo-container {
        position:relative;
        padding:1rem;
        padding-top:1.5rem;
    }
    
    .logo {
        width:50%;
        max-width:13rem;
    }
    
    /* Location container */
    .location-container {
        padding:1rem;
        background-color: variables.$clr-grey-1;
    }
}




/* ---------------------------- */
/* -------Main content--------- */
/* ---------------------------- */

.main-content {
    --gap:0;
}

/* ---------------------------- */
/* -------Head-Section--------- */
/* ---------------------------- */

/* head-section */
.head-section {
    justify-content: start;
    text-align: center;
    background-color: variables.$clr-grey-2;
    gap:1rem;
}




/* ---------------------------- */
/* -------Function-Section----- */
/* ---------------------------- */
.function-section,
.restaurant-section {
    --gap:1.5rem;
}


/* ---------------------------- */
/* ----Restaurant-Section------ */
/* ---------------------------- */
.restaurant-section {
    width:100%;
    background-color: variables.$clr-grey-2;

    .card-img {
        overflow: hidden;
        height:15rem;
    }
    
    .card-content {
        justify-content: space-between;
        padding:1.5rem 1rem;
    }
}


// Used in menu page also
.card-like {
    position:relative;

     * {
        color:hsl(variables.$clr-primary);
        font-size:30px;
        margin-right:1rem;
    }
    
    .filling {
        position:absolute;
        top:5px;
        left:0;
        transition:.3s;
        transform:scale(0);
        transform-origin: bottom;
    }
    
    &:hover .filling {
        transform:scale(0.9);
    }
}



/* ---------------------------- */
/* ----------Footer------------ */
/* ---------------------------- */
.main-footer {
    background-color: variables.$clr-grey-3;

    .svg-logo {
        width:1rem;
    }
    
    .footer-links {
        margin-top:1rem;
        --gap:0.5rem;

        * {
            color:white;
        }
        
        i {
            margin-right:1rem;
        }
        
        .fa-hands-helping {
            font-size:10px
        }
    }
    
    
}



@media (min-width:768px) {
    .main-content:not(.menu-main-content) {
        // flex-direction:row;
        // flex-wrap: wrap;
        justify-content: center;
        // --gap:2rem;
    }

    .head-section {
        width:100%;
        height:calc(100vh - 127px);
        justify-content: space-evenly;

        h2 {
            order:1;
        }

        p {
            order:3;
        }
        button {
            margin-block:0;
            order:2;
        }
    }



    .function-section {
        width:60%;
        margin-inline:auto;
    }

    .restaurant-section {

        .restaurant-content {
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        .restaurant-content > * {
            flex-basis:100%;
            max-width:calc((100% - 2rem) / 2);
        }
    
        .restaurant-content img {
            height:100%;
            width:100%;
        }
    }

    
}

@media (min-width:992px) {
    .restaurant-section {

        .restaurant-content > * {
            max-width:calc((100% - 6rem) / 4);
        }
    }
}
