@use "variables";
/* ---------------------------- */
/* -------Header--------------- */
/* ---------------------------- */

.fa-arrow-left {
    position:absolute;
    top:50%;
    left:2rem;
    transform:translateY(-50%);
    font-size:1.5rem;
}

.header-img {
    height:18rem;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-origin: content-box;
}

#delice {
    background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

#palette {
    background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#enchante {
    background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

#française {
    background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
/* ---------------------------- */
/* -------Main content--------- */
/* ---------------------------- */
.menu-main-content {
    background-color: variables.$clr-grey-2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top:-5rem;
    padding-block:2rem;
    padding-inline:1rem;

    section {
        padding-block: 2rem;
    }

    .menu-header {
    justify-content: space-between;

        .menu-title {
            font-family: 'Shrikhand', cursive;
        }
        .filling {
            top:0;
        }
    }
}

/* menu-content */

.menu-section {
    padding-inline:0;
    --gap:1rem;

    .menu-section-title {
        font-weight:300;
        text-transform: uppercase;
        margin-bottom:.3rem;
        color: lighten(variables.$clr-grey-3, 20);
    }
    
    .green-underline {
        background-color: variables.$clr-tertiary;
        height:3px;
        width:3rem;
    }
}


/* item */

.item {
    position:relative;
    padding:1rem;
    overflow:hidden;
    max-width:30rem;
    border-radius:1rem;
    opacity:0;
    background-color: white;
    box-shadow: variables.$shadow;
    animation: appear ease-in-out 1s forwards;


    .item-text > * {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        transition:0.3s;
    }

    .item-text > p {
        width:30ch;
        margin-top:0.4rem;
        color: lighten(variables.$clr-grey-3, 20);
    }

    .item-text > h3 {
        width:25ch;
        font-weight: 500;
    }
    
    /* item-slide */
    .item-slide {
        position:absolute;
        height:100%;
        top:0;
        right:-4rem;
        --gap:0;
        transition:0.3s;
    }
    
    &:hover .item-slide {
        right:0;
    }
    
    &:hover .item-text > p {
        width:24ch;
    }
    
    &:hover .item-text > h3 {
        width:22ch;
    }

    &:hover .fa-check-circle {
        transform: rotate(360deg);
    }
    
    .item-price {
        height:inherit;
        padding:1rem;
        font-weight: 500;
        align-items: flex-end;
    }
    
    .item-slide-logo {
        height:inherit;
        width:4rem;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        font-size:1.2rem;
        color:white;
        background-color: variables.$clr-tertiary;
    }
    
    .fa-check-circle {
        transition:0.3s ease-in-out;
    }
}

.call-to-action {
    .btn {
        padding-inline:3.5rem;
    }
}



@media (min-width:768px) {
    .menu-header {
        justify-content: center;
        position:relative
    }

    .menu-main-content .card-like {
        position:absolute;
        right:1rem;
    }

    .menu-main-content .filling {
        top:-1px;
    }

    .menu-section {
        align-items:center;
    }

    .item {
        max-width:40rem;
        width:40rem;

        .item-text > p {
            width:50ch;
        }
    
        .item-text > h3 {
            width:35ch;
        }

        &:hover .item-text > p {
            width:45ch;
        }
        
        &:hover .item-text > h3 {
            width:32ch;
        }
    }


}

@keyframes appear {
    0% {
        opacity:0;
        transform:translateY(20px);
    }
    100% {
        opacity:1;
        transform:translateY(0);
    }
}

@for $i from 1 to 10 {
  .item:nth-of-type(#{$i}) { animation-delay: $i * 0.25s; }
}