/* flex */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/* column */
.column {
    flex-direction: column;
}

/* absolute */
.absolute {
    position: absolute;
}

.center {
    justify-content: center;
    align-items: center;
}