// colors
$clr-primary: 267 66% 60%;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-grey-1: #EAEAEA;
$clr-grey-2: #F6F6F6;
$clr-grey-3: #353535;
$clr-success: #018766;
$clr-bg-success: #99E2D0;

// font-families
$ff-roboto: "Roboto", serif;
$ff-shrikhand: "Shrikhand", cursive;

// border-radius
$bd-radius: 20px;