@use "../utils/variables.scss";
@use "../utils/keyframes.scss";

/* button */
.btn {
    cursor: pointer;
    width:fit-content;
    border:none;
    border-radius: 4rem;
    padding:1rem 1.5rem;
    margin-block:1.5rem;
    color:white;
    box-shadow: variables.$shadow;
    background: linear-gradient(to top, hsl(variables.$clr-primary), variables.$clr-secondary);
    transition: 0.2s;

    &:hover {
        background: linear-gradient(to top, lighten(hsl(variables.$clr-primary),15), lighten(variables.$clr-secondary,15));
        box-shadow: variables.$shadow-dark;
    }
}

/* vignette */
.vignette {
    position:relative;
    padding:1.5rem 2rem;
    margin-left:.7rem;
    border-radius: 20px;
    background-color: variables.$clr-grey-2;
    box-shadow: variables.$shadow;
    transition: 0.2s;

    &:hover {
    background-color: hsla(267, 66%, 60%, 0.2);
    box-shadow: variables.$shadow-dark;
        
        i {
        color: hsl(variables.$clr-primary);
        }
    }
    
    .vignette-counter {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
        width: 1.5rem;
        aspect-ratio: 1 / 1;
        border-radius:50%;
        color:white;
        background-color: hsl(variables.$clr-primary);
    }
}

/* card */
.card {
    position:relative;
    border-radius:15px;
    overflow: hidden;
    background-color:white;
    box-shadow: variables.$shadow;
    transition: 0.2s;

    &:hover {
        box-shadow: variables.$shadow-dark;
    }
    .badge {
        position:absolute;
        top:1rem;
        right:1rem;
        padding:0.5rem 1rem;
        border-radius:.2rem;
        color: variables.$clr-success;
        background-color: variables.$clr-bg-success;
    }

    p {
        margin-top:0.3rem;
        color: lighten(variables.$clr-grey-3, 20);
    }
}

.card-like {
    position:relative;

     * {
        color:hsl(variables.$clr-primary);
        font-size:30px;
        margin-right:1rem;
    }
    
    .filling {
        position:absolute;
        top:5px;
        left:0;
        transition:.3s;
        transform:scale(0);
        transform-origin: bottom;
    }
    
    &:hover .filling {
        transform:scale(0.9);
    }
}

/* item */
.item {
    position:relative;
    padding:1rem;
    overflow:hidden;
    max-width:30rem;
    border-radius:1rem;
    opacity:0;
    background-color: white;
    box-shadow: variables.$shadow;
    animation: appear ease-in-out 1s forwards;


    .item-text > * {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        transition:0.3s;
    }

    .item-text > p {
        width:30ch;
        margin-top:0.4rem;
        color: lighten(variables.$clr-grey-3, 20);
    }

    .item-text > h3 {
        width:25ch;
        font-weight: 500;
    }
    
    /* item-slide */
    .item-slide {
        position:absolute;
        height:100%;
        top:0;
        right:-4rem;
        --gap:0;
        transition:0.3s;
    }
    // green div appear here
    &:hover .item-slide {
        right:0;
    }
    // reduce text div width
    &:hover .item-text > p {
        width:24ch;
    }
    
    &:hover .item-text > h3 {
        width:22ch;
    }
    // rotate icon
    &:hover .fa-check-circle {
        transform: rotate(360deg);
    }
    
    .item-price {
        height:inherit;
        padding:1rem;
        font-weight: 500;
        align-items: flex-end;
    }
    
    .item-slide-logo {
        height:inherit;
        width:4rem;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        font-size:1.2rem;
        color:white;
        background-color: variables.$clr-tertiary;
    }
    
    .fa-check-circle {
        transition:0.3s ease-in-out;
    }
}

// loader
.overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white;
    animation: display 0s ease-in 3s forwards;
    
    .loader {
        position: relative;
        width: 80px;
        height: 80px;
    }

    .loader div {
        position: absolute;
        border: 4px solid hsl(variables.$clr-primary);
        opacity: 1;
        border-radius: 50%;
        animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .loader div:nth-child(2) {
        animation-delay: -0.5s;
    }
}

.main-footer {
    background-color: variables.$clr-grey-3;

    .svg-logo {
        width:1rem;
    }
    
    .footer-links {
        margin-top:1rem;
        --gap:0.5rem;

        * {
            color:white;
        }
        
        i {
            margin-right:1rem;
        }
        
        .fa-hands-helping {
            font-size:10px
        }
    }
}